{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FURIENDS</title>
    <!-- <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet"> -->
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
</head>
<body>
    <p>
        <a href="{% url 'signup' %}">Sign Up</a>
        <a href="{% url 'login' %}">Log In</a>
        <a href="{% url 'logout' %}">Log Out</a>
    </p>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
