{% extends 'base.html' %} {% block content %}
<div class="full-page-comment">
  <div class="comment-page">
    <img class="image-comment" src="{{ photos.url }}" alt="" />
    <div class="post-comment">
      <div class="lower-post-comment">
        {% for post in posts %}
        <p>
          {{ post.caption }} {% if post.user.id == user_id %}
          <a
            href="{% url 'post_create_delete' user_id post.id photos.id %}"
            class="btn btn-outline-danger local-btn"
            >Delete</a
          >
          {% endif %}
          <br />
          <span class="name">Posted By: {{ post.user.first_name }}</span>
          <span class="date">on: {{ post.date|date:'Y-m-d H:i' }}</span>
        </p>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="comment-insert">
    <form
      action="{% url 'post_create_comment' user_id photos.id %}"
      method="post"
    >
      <textarea
        name="comment"
        class="comment-write"
        cols="30"
        rows="10"
        maxlength="100"
      ></textarea>

      <button class="comment-submit"></button>
    </form>
  </div>
</div>
<h1>{{photos.caption}}</h1>

<script>
  let btn = document.querySelector(".btn");
  btn.onclick = function () {
    btn.classList.toggle("active");
  };
</script>
{%endblock %}
