.my_profile {
  display: flex;
}

.card-container {
  background: rgb(254, 237, 231);
  background: linear-gradient(
    0deg,
    rgba(254, 237, 231, 1) 10%,
    rgba(248, 206, 190, 1) 61%
  );
  border-radius: 5px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  color: black;
  padding-top: 30px;
  position: relative;
  width: 300px;
  /* max-width: 100%; */
  text-align: center;
  height: 100vh;
}

.usersPhotos {
  display: grid;

  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  height: 100vh;
  overflow: scroll;
}
.card:hover {
  transform: scale(1.05);
  transition: 0.1s;
}
.buttons {
  border: 1px solid black;
  border-radius: 3px;
  color: #231e39;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  padding: 10px 25px;
  background-color: transparent;
}

.card-container .round {
  height: 100px;
  width: 100px;
  margin: auto;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 7px 7px 10px #353535;
}
.userName {
  text-shadow: 1px 1px 2px white, 0 0 1em black, 0 0 0.2em white;
}

.buttons {
  border: 1px solid black;
  border-radius: 3px;
  color: #231e39;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  padding: 10px 25px;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.buttons:hover {
  background-color: #120a19;
  color: white;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  object-fit: contain;
  padding: 0.45em;
  text-decoration: none;
  color: black;
}

#usersPhotos {
  height: 370px;
  width: 100%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

#imageinput {
  display: none;
}

.imageinput {
  cursor: pointer;
}

.form-label {
  text-align: left !important;
}
