a {
    color: None;
}
/* 
#nav_new {
    background-color: teal;
} */
#nav_new {
 background-color: #F4B49C;
}

#last_child {
    position: absolute;
    right: 10px;
}

img {
    height: 5em;
    width: 5em;
}